*{
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}
.navbar-container{
  background-color: black;
  color: white;
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 20px;
  font-size: 20px;
}
.navbar-container > div ul  {
  display: flex;
  justify-content: space-between;
  gap: 30px;
  padding-right: 30px;
  list-style: none;
  
}
.navbar-container > div ul a{
  text-decoration: none;
  color: white;
  
}
.navbar-container > div ul a:hover{
  padding: 10px;
  background-color: grey;
  border-radius: 20px;
  transition: 0.3s;
}
.form-container{
  
  position: relative;
  z-index: 1;
  display: flex;
  flex-direction: column;
  align-items: center;
  margin: 30px;
  box-shadow: 30px;
  
  
}
.form-input > input{
 padding: 5px 15px;
 margin: 10px;
 border-radius: 10px;
}
.form-input > label{
  font-size: 20px;
  color: grey;
}
.form-button{
  margin: 20px 0px 0px 120px;
  padding: 10px;
  text-align: center;
  border-radius: 10px;
  background-color: grey;
  cursor: pointer;
}
.home-button{
  padding: 10px;
  background-color: red;
  border-radius: 10px;
  margin-left: 30px;
  cursor: pointer;
  font-size: 15px;
}
.home-button:hover{
  padding:10px ;
  background-color: grey;
  font-size: 20px;
  transition: 0.5s;
}
.signup-button{
  margin: 20px;
  padding: 10px;
  text-align: center;
  border-radius: 10px;
  background-color: grey;
  cursor: pointer;
}